<div class="modal fade" id="ediModal" ng-controller="editContractContoller as editContractCtrl">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="panel panel-warning title">

        <div class="panel-heading title">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="panel-title">Edit Contract</h3>
        </div>

        <div class="panel-body">
          <form ng-submit="editContractCtrl.updateContract(editContractCtrl.selectedContract)">
            <input type="text" ng-model="editContractCtrl.selectedContract.title" class="form-control" placeholder="What's the problem?" required><br>
            <textarea ng-model="editContractCtrl.selectedContract.description" class="form-control" placeholder="Describe your issue" required></textarea><br>
            <input type="number" ng-model="editContractCtrl.selectedContract.total" class="form-control" placeholder="How much will you pay?" required><br>
            <input type="submit" value="Post" class="btn btn-warning">
          </form>
        </div>

      </div>

    </div>
  </div>
</div>
