<!-- <h2>All contracts</h2> -->
<div class="container">
  <div class="row">
    <!-- LEFT PANEL -->
    	<div class="col-md-offset-1 col-md-4">

    		<div class="list-group">
    				<!-- SEARCH TOOL -->
    				<div class="form-group">
    					<div class="input-group">
    						<div class="input-group-addon">
    							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    						</div>
    			      <input type="text" ng-model="searchContract" class="form-control" placeholder="Search">
    			    </div>
    				</div>

    				<!-- CONTRACT LIST -->
            <a ng-repeat="contract in contracts | filter: {title: searchContract, status: '!closed'} | orderBy: 'datetime':true" ng-href="#/contracts/{{contract.$id}}">
    					<div class="list-group-item">
    				        <div class="row-picture">
    				            <img class="circle" ng-src="{{contract.gravatar}}">
    				        </div>
    				        <div class="row-content">
    				            <h4 class="list-group-item-heading">{{contract.title | limitTo:25}}{{ contract.title.length > 25? "..." : ""}}</h4>
    				            <span class="list-group-item-text">
    				            	<span am-time-ago="contract.datetime"></span>
    				            </span>
    				        </div>
    				        <div class="payment">
    				        	<div>${{contract.total}}</div>
    				        	<span class="label status {{contract.status}}">{{contract.status}}</span>
    				        </div>
    				    </div>
    			    	<div class="list-group-separator"></div>
    		    	</a>
    		</div>

    	</div>

      <!-- RIGHT PANEL -->
	<div class="col-md-6">
		<div ng-show="listMode">
			<img src="images/browse.jpg" class="img-responsive img-browse">
		</div>

		<div ng-show="!listMode">

			<!-- HEADER -->
			<div class="row">
				<div class="col-md-8">
					<h3>{{ selectedContract.title }}</h3>
					<span>
						<img ng-src="{{ selectedContract.gravatar }}" class="img-circle gravatar">
						Posted by {{selectedContract.name}} -
						<span am-time-ago="selectedContract.datetime"></span>&nbsp;
						<span class="label status {{selectedContract.status}}">{{ selectedContract.status }}</span>
					</span>
				</div>

				<div class="col-md-4 title">
					<div class="price-tag">
						${{ selectedContract.total }}

						<div ng-show="isContractCreator(selectedContract) && isOpen(selectedContract)">
							<div class="btn-group">
							    <a href="" class="btn btn-warning">Admin</a>
							    <a href="" class="btn btn-warning dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
							    <ul class="dropdown-menu">
							        <li><a href="" data-toggle="modal" data-target="#ediModal">EDIT CONTRACT</a></li>
							        <li class="divider"></li>
							        <li><a href="" ng-click="cancelContract(selectedContract.$id)">CANCEL CONTRACT</a></li>
							    </ul>
							</div>
						</div>

            <!-- Offer Button -->
            <div ng-show="isOpen(selectedContract) && !isContractCreator(selectedContract) && !alreadyOffered">
              <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#offModal">Solve Now</button>
            </div>


					</div>
				</div>
			</div>

			<br>

			<!-- DESCRIPTION -->
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
					    <div class="panel-heading">
					        <h3 class="panel-title">Description</h3>
					    </div>
					    <div class="panel-body">
					        {{ selectedContract.description }}
					    </div>
					</div>
				</div>
			</div>

      <!-- OFFERS  -->
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">

              <div class="panel-heading">
                  <h3 class="panel-title">Offers</h3>
              </div>
              <div class="panel-body">
                <div class="title" ng-hide="offers && offers.length > 0">
                  <span>NO OFFERS YET FOR THIS CONTRACT</span>
                </div>

                <div class="row" ng-repeat="offer in offers">
                  <div class="col-md-10">

                    <button ng-show="offer.accepted" class="btn btn-success btn-xs disabled">Assigned</button>

                    <button ng-show="isContractCreator(selectedContract) && isOpen(selectedContract)" class="btn btn-info btn-xs" ng-click="
                      acceptOffer(offer.$id, offer.uid)">Accept- ${{offer.total}}</button>


                    <button ng-show="isOfferMaker(offer) && isOpen(selectedContract)" class="btn btn-danger btn-xs" ng-click="
                      cancelOffer(offer.$id)">Cancel my Offer -- ${{offer.total}}</button>

                    <img ng-src="{{offer.gravatar}}" class="img-circle offer gravatar">
                    <span>{{offer.name}}</span>
                  </div>
                </div><br>

              </div>
          </div>
        </div>
      </div>

      <!-- COMMENTS -->
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">

            <div class="panel-heading">
              <h3 class="panel-title">Comments</h3>
            </div>

            <div class="panel-body">
              <div class="title" ng-hide="comments && comments.length > 0">
                <span>No COMMENTS ABOUT THIS CONTRACT...</span>
              </div><br>

              <div class="row" ng-repeat="com in comments">
                <div class="col-md-1">
                  <img ng-src="{{com.gravatar}}" class="img-circle comment gravatar">
                </div>
                <div class="col-md-11">
                  <div class="well well-sm cmt">
                    <span class="cmt-title">{{com.name}}:</span>
                    <span class="cmt-time pull-right"><span am-time-ago="{{com.datetime}}"></span></span><br>

                    <span>{{com.content}}</span>
                  </div>
                </div>
              </div><br>

              <div class="row" ng-show="isOpen(selectedContract)">
                <div class="col-md-12">
                  <form ng-submit="addComment()">
                    <div class="input-group">
                      <div class="input-group-addon">
                        <img ng-src="{{user.profile.gravatar}}" class="img-circle comment gravatar">
                      </div>
                      <input type="text" ng-model="content" cols="10" rows="3" class="form-control" placeholder="Comment here..." required><br>
                    </div>

                    <span class="pull-right">
                      <input type="submit" class="btn btn-info" value="Comment">
                    </span>
                  </form>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

	</div>

</div>
<div ng-include="'views/partials/_edit.html'"></div>
<div ng-include="'views/partials/_offer.html'"></div>
